body{
  width: 80%;
  margin: auto;
}
button{
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.head-div ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
ul{
  list-style: none;
}
.list-head,.list-main{
  width: 80%;
  margin: auto;
}
.list-head ul,.list-main ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.list-main{
  margin-top: 50px;
}
.admin-head{
  display: flex;
  justify-content: space-between;
}


.admin-main{
  display: flex;
  width: 100%;
  margin-top: 150px;
}
.admin-main li{

margin: auto;
 text-align: center;
  margin-right: 20px;
}
.admin-main li:first-child{
  margin-left: 0;
}
.admin-main .desc{
  width: 150px;
  text-align: justify;
}
